!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body!= body
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/jdataview.js')
  script(src='/javascripts/script.js')